<html>
   <head>
      <title>Upload File</title>
   </head>
   <body align="left">
      <form action="/upload" method="post" enctype="multipart/form-data">
         <!--<legend>Upload File:</legend>-->
         <p>Enter Your Pass Code</p>
         <p><input name="code" placeholder="passcode" type="password" ></p>
         <p>Choose Your File</p>
         <p><input type="file" name="file" placeholder="file"></p>
         <p><input type="submit" value="Upload"></p>
      </form>
   </body> 
</html> 


